h1 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: rgb(158, 171, 179);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

.header__btn {
  width: 100%;
  height: 3.2rem;
  background: none;
  border: none;
  border-radius: 50px;
  font-size: 0.9rem;
  color: White;
  letter-spacing: 2px;
  cursor: pointer;
}

.snippets__box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.3rem;
  }
  .header__btn {
    width: 80%;
    height: 75px;
    font-size: 1.2rem;
  }
  .snippets__box-item {
    margin: 25px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 20px auto;
  }
  .header__btn {
    width: 100%;
    height: 3rem;
    background: none;
    border: none;
    border-radius: 50px;
    font-size: 0.9rem;
    color: White;
    letter-spacing: 2px;
    cursor: pointer;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.header {
  margin-bottom: 100px;
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -4;
}
.header__image {
  margin-top: 50px;
  transform: scale(0.9);
}
.header__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__btn {
  margin-top: 20px;
}
.header__btn-green {
  background-color: rgb(38, 186, 164);
  box-shadow: 2px 2px green;
}
.header__btn-blue {
  background-color: rgb(97, 115, 255);
  box-shadow: 2px 2px blue;
}

.snippets__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.snippets__box-img {
  width: 100%;
  margin-bottom: 50px;
}
.snippets__box-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.access {
  margin-top: 100px;
}
.access__img {
  width: 100%;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .header__image {
    margin-top: 80px;
    transform: scale(1.2);
  }
  .header__heading {
    margin-top: 50px;
  }
  .header__text {
    margin-top: 50px;
  }
  .header__btn-green {
    margin-top: 100px;
    background-color: rgb(38, 186, 164);
    box-shadow: 2px 2px green;
  }
  .header__btn-blue {
    background-color: rgb(97, 115, 255);
    box-shadow: 2px 2px blue;
  }
  .snippets__box-img {
    width: 80%;
  }
  .snippets__box-item--title {
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .header__background {
    background-repeat: repeat;
    background-size: cover;
  }
  .header__image {
    margin-top: 75px;
    transform: scale(1.2);
  }
  .header__heading {
    margin-top: 50px;
  }
  .header__text {
    margin-top: 20px;
  }
  .header__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 80%;
    height: 100%;
  }
  .header__btn {
    margin-top: 20px;
  }
  .header__btn-green {
    background-color: rgb(38, 186, 164);
    box-shadow: 2px 2px green;
  }
  .header__btn-blue {
    background-color: rgb(97, 115, 255);
    box-shadow: 2px 2px blue;
  }
  .wrapper__big {
    width: 90%;
  }
  .snippets__heading {
    width: 80%;
    margin: auto;
  }
  .snippets__text {
    width: 60%;
    margin: auto;
  }
  .snippets__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }
  .snippets__box-img {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    margin: auto 15px;
  }
  .snippets__box-description {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/4;
    align-items: start;
    width: 100%;
  }
  .snippets__box-item--title {
    margin-bottom: 10px;
  }
  .snippets__box-item--1 {
    grid-row: 1/2;
  }
  .snippets__box-item--2 {
    grid-row: 2/3;
  }
  .snippets__box-item--3 {
    grid-row: 3/4;
  }
  .access__img {
    width: 125%;
  }
}/*# sourceMappingURL=main.css.map */