@use './colors' as colors;

h1 {
	font-size: 1.6rem;
	text-align: center;
	margin-bottom: 30px;
}

h2 {
	margin-bottom: 15px;
	font-size: 1.3rem;
}

p {
	text-align: center;
	font-size: 0.8rem;
	line-height: 1.4rem;
	color: colors.$grayisch;
	margin-bottom: 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100%;
	margin: 20px auto;
}

.header__btn {
	width: 100%;
	height: 3.2rem;
	background: none;
	border: none;
	border-radius: 50px;
	font-size: 0.9rem;
	color: White;
	letter-spacing: 2px;
	cursor: pointer;
}

.snippets {
	&__box {
		&-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 15px;
		}
	}
}

.offer {
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-top: 20px;
	}
}

// 768px - tablet

@media (min-width: 768px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.6rem;
	}

	p {
		font-size: 1.3rem;
	}
	.header__btn {
		width: 80%;
		height: 75px;
		font-size: 1.2rem;
	}
	.snippets {
		&__box {
			&-item {
				margin: 25px;
			}
		}
	}
}

// Desktop 1024px

@media (min-width: 1024px) {
	h1 {
		font-size: 2.2rem;
	}

	p {
		font-size: 1rem;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
		margin: 20px auto;

		&__big {
			width: 90%;
			overflow: hidden;
		}
	}

	.header__btn {
		width: 100%;
		height: 3rem;
		background: none;
		border: none;
		border-radius: 50px;
		font-size: 0.9rem;
		color: White;
		letter-spacing: 2px;
		cursor: pointer;
	}

	.offer {
		&__box {
			flex-direction: row;

			&-item {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 10px;
				margin: 0 20px;
			}
		}
	}
}
