@use './_colors' as colors;
@use './_component' as component;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
}

// Header

.header {
	margin-bottom: 100px;

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../images/bg-header-mobile.png);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -4;
	}

	&__image {
		margin-top: 50px;
		transform: scale(0.9);
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__btn {
		margin-top: 20px;

		&-green {
			background-color: colors.$strongCyan;
			box-shadow: 2px 2px green;
		}

		&-blue {
			background-color: colors.$lightBlue;
			box-shadow: 2px 2px blue;
		}
	}
}

//Section Snippets

.snippets {
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 50px;

		&-img {
			width: 100%;
			margin-bottom: 50px;
		}

		&-description {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

// Section Access

.access {
	margin-top: 100px;

	&__img {
		width: 100%;
		margin-top: 30px;
	}
}

// Section Offer

.offer {
	&__box {
		&-icon {
			margin-bottom: 20px;
		}
	}
}

// Section Partners

.partners {
	margin-top: 100px;

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;
	}
}

// 768px

@media (min-width: 768px) {
	.header {
		&__image {
			margin-top: 80px;
			transform: scale(1.2);
		}

		&__heading {
			margin-top: 50px;
		}

		&__text {
			margin-top: 50px;
		}

		&__btn {
			&-green {
				margin-top: 100px;
				background-color: colors.$strongCyan;
				box-shadow: 2px 2px green;
			}

			&-blue {
				background-color: colors.$lightBlue;
				box-shadow: 2px 2px blue;
			}
		}
	}

	.snippets {
		&__box {
			&-img {
				width: 80%;
			}

			&-item {
				&--title {
					margin-bottom: 10px;
				}
			}
		}
	}
}

// Desktop 1024px

@media (min-width: 1024px) {
	.header {
		&__background {
			background-repeat: repeat;
			background-size: cover;
		}

		&__image {
			margin-top: 75px;
			transform: scale(1.2);
		}

		&__heading {
			margin-top: 50px;
		}

		&__text {
			margin-top: 20px;
		}

		&__box {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 3rem;
			width: 80%;
			height: 100%;
		}

		&__btn {
			margin-top: 20px;

			&-green {
				background-color: colors.$strongCyan;
				box-shadow: 2px 2px green;
			}

			&-blue {
				background-color: colors.$lightBlue;
				box-shadow: 2px 2px blue;
			}
		}
	}

	.snippets {
		&__heading {
			width: 80%;
			margin: auto;
		}
		&__text {
			width: 60%;
			margin: auto;
		}
		&__box {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			justify-items: center;
			align-items: center;

			&-img {
				grid-column: 1/2;
				grid-row: 1/4;
				width: 500px;
				margin: auto 15px;
			}

			&-description {
				display: grid;
				grid-column: 2/3;
				grid-row: 1/4;
				align-items: start;
				width: 100%;
			}

			&-item {
				&--title {
					margin-bottom: 10px;
				}

				&--1 {
					grid-row: 1/2;
				}
				&--2 {
					grid-row: 2/3;
				}
				&--3 {
					grid-row: 3/4;
				}
			}
		}
	}
	.access {
		&__img {
			width: 125%;
		}
	}

	.partners {
		&__box {
			flex-direction: row;
			width: 80%;
		}
	}
}
